@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer["About"];
}
<center>
    <h1>@SharedLocalizer["We are students: Marek, Asia and Patrycja"]</h1>
   

    <h5>@SharedLocalizer["We try learn about Advanced Programming at WSB Chorzów"]</h5>
</center>
<br />
<p>@SharedLocalizer["For expand this excersise we add another translations. Default Polish, English, German and additional language: Italian, Spanish and French"]</p>
<p>@SharedLocalizer["Added 2 more columns - one for devices and one for users and implements at GUI"]</p>
<p>@SharedLocalizer["Added Error handling"]</p>